
.vs/C-Programming/FileContentIndex/read.lock
.vs/C-Programming/FileContentIndex/7a22ad95-915b-4a3d-95a8-ea4e999eadb1.vsidx
.vs/C-Programming/FileContentIndex/8769dfbe-f67d-4b10-9ef6-c43bb4c64fe9.vsidx
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/C-Programming/v17/Browse.VC.opendb
.vs/C-Programming/v17/Browse.VC.db-wal
.vs/C-Programming/v17/Browse.VC.db-shm
.vs/C-Programming/v17/Browse.VC.db
.vs/C-Programming/FileContentIndex/a1aa644d-30d0-44a5-b279-b6bbe79a6544.vsidx
.vs/C-Programming/FileContentIndex/f437ae0b-701d-406b-9fbd-5b9bb2766487.vsidx
